doctype
html
    head
        meta(charset='utf-8')
        title EU Annual net earnings | taxes
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Droid+Sans|Yanone+Kaffeesatz|Droid+Serif|Ubuntu|Lobster|Francois+One|Arvo|Changa+One|Rokkitt|Nunito|Bitter|Merriweather|Raleway|Pacifico|Josefin+Sans|Questrial|Cantarell|Norican|Vollkorn|Quicksand|Limelight|Cantata+One|Bree+Serif|Oleo+Script|Playfair+Display|Quattrocento+Sans|Berkshire+Swash|Passion+One|Cuprum', rel='stylesheet', type='text/css')
        
        link(href='/css/style.css', rel='stylesheet', media='screen')
        link(rel="shortcut icon", href="favicon.ico")

    body
        block main-content
        include scripts        
