extends ../includes/layout

block main-content
    .charts--container
        ul
            li.chart
                h3#pie-title.chart--subHeadline
                    | Belgium Earning
                h2#title.chart--headline
                    | Eurning Structure for 
                #pieChart
                    svg#pieChartSVG
                        defs
                            filter#pieChartInsetShadow
                                feoffset(dx='0', dy='0')
                                    fegaussianblur(stddeviation='3', result='offset-blur')
                                        fecomposite(operator='out', in='SourceGraphic', in2='offset-blur', result='inverse')
                                            feflood(flood-color='black', flood-opacity='1', result='color')
                                                fecomposite(operator='in', in='color', in2='inverse', result='shadow')
                                                    fecomposite(operator='over', in='shadow', in2='SourceGraphic')
                            filter#pieChartDropShadow
                                fegaussianblur(in='SourceAlpha', stddeviation='3', result='blur')
                                    feoffset(in='blur', dx='0', dy='3', result='offsetBlur')
                                        femerge
                                            femergenode
                                                femergenode(in='SourceGraphic')
                #form
                    | Country of interest   
                    select(type='select', style='color:steelblue;font-size:1.1em;')#countrySelector
                        option(value='BE', name='Belgium') Belgium
                        option(value='BG', name='Bulgaria') Bulgaria
                        option(value='CZ', name='Czech Republic') Czech Republic
                        option(value='DK', name='Denmark') Denmark
                        option(value='DE', name='Germany') Germany
                        option(value='EE', name='Estonia') Estonia
                        option(value='IE', name='Ireland') Ireland
                        option(value='EL', name='Greece') Greece
                        option(value='ES', name='Spain') Spain
                        option(value='FR', name='France') France
                        option(value='HR', name='Croatia') Croatia
                        option(value='IT', name='Italy') Italy
                        option(value='CY', name='Cyprus') Cyprus
                        option(value='LV', name='Latvia') Latvia
                        option(value='LT', name='Lithuania') Lithuania
                        option(value='LU', name='Luxembourg') Luxembourg
                        option(value='HU', name='Hungary') Hungary
                        option(value='MT', name='Malta') Malta
                        option(value='NL', name='Netherlands') Netherlands
                        option(value='AT', name='Austria') Austria
                        option(value='PL', name='Poland') Poland
                        option(value='PT', name='Portugal') Portugal
                        option(value='RO', name='Romania') Romania
                        option(value='SI', name='Slovenia') Slovenia
                        option(value='SK', name='Slovakia') Slovakia
                        option(value='FI', name='Finland') Finland
                        option(value='SE', name='Sweden') Sweden
                        option(value='UK', name='United Kingdom') United Kingdom
                        option(value='IS', name='Iceland') Iceland
                        option(value='NO', name='Norway') Norway
                        option(value='CH', name='Switzerland') Switzerland
                        option(value='TR', name='Turkey') Turkey
                        option(value='US', name='United States', selected='true') United States
                        option(value='JP', name='Japan') Japan

            li.chart
                h3#line-title.chart--subHeadline
                    | Belgium Annual Earning
                h2.chart--headline
                    | Taxes / Net Eurning Evolution
                #lineChart
                    svg#lineChartSVG.lineChart--svg
                        defs
                            lineargradient#lineChart--gradientBackgroundArea--NET(x1='0', x2='0', y1='0', y2='1')
                                stop.lineChart--gradientBackgroundArea--NET--top(offset='0%')
                                stop.lineChart--gradientBackgroundArea--NET--bottom(offset='100%')
                        defs
                            lineargradient#lineChart--gradientBackgroundArea--TAX(x1='0', x2='0', y1='0', y2='1')
                                stop.lineChart--gradientBackgroundArea--TAX--top(offset='0%')
                                stop.lineChart--gradientBackgroundArea--TAX--bottom(offset='100%')    
